/TestConJUnit/nbproject/private/
/TestConJUnit/build/
/Calculadora/nbproject/private/
/Calculadora/dist/
/Calculadora/build/
/Calculadora1/nbproject/private/
/Calculadora1/dist/
/Calculadora1/build/
/Calculator/nbproject/private/
/CalculadoraDeDescuentos/nbproject/private/
/CalculadoraDeDescuentos/build/